# Node
node_modules
package-lock.json

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# NYC
.nyc_output
coverage

# Project specific
dist
.ipfsdata/
pnpm-lock.yaml
src/MY-CONFIG.ts
docker/secret

# Leveldown database
*.db/
tsconfig.tsbuildinfo

# Artifacts
v1/
artifacts-v2.1/